
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Okra',Helvetica, sans-serif ;
}
#popup{
    width:100%;
    height:100vh;
    background: #3c5077;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#popup #btn{
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
    margin-bottom: 20px;
}
#popup #pop{
    width: 33%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: max-content;
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
    z-index: 1;
    display: block;
    padding: 20px;
    display: none;
}
#popup #pop .log-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
    padding-bottom: 30px;
}
#popup #pop .log-head svg{
    cursor: pointer;
}
#popup #pop .log-head h1{
    font-size: 2rem;
    font-weight: 500;
    color: rgb(79, 79, 79);
    padding: 10px;
}
#popup #pop .select-box{
    position: relative;
    width: 26 rem;
    margin-bottom:10px;
}
#popup #pop .select-box input{
    width: 100%;
    padding:9px;
    font-size: 19px;
    border: .1rem solid transparent;
    outline: none;
}
#popup #pop .select-box input[type="tel"]:focus{
    outline: none;
}
#popup #pop .select-box .selected-option{
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 47px;
    width: 100%;
    border: #cccccc 1px solid;
}
#popup #pop .select-box .selected-option:active{
    border: cadetblue 2px solid;
}
#popup #pop .select-box .selected-option div{
    display: flex;
    width: 120px;
    padding: 0 2.8rem 0 .5rem;
    text-align: center;
    cursor: pointer;
    border-right: #ccc 2px solid;
}
#popup #pop .select-box .selected-option div::after{
    position: absolute;
    content: "";
    left: 80px;
    top: 40%;
    transform: translateY(-50%) rotate(45deg);
    width: 7px;
    height: 7px;
    border-right: .12rem solid black;
    border-bottom: .12rem solid black;
    transition: .2s;
}
#popup #pop .select-box .selected-option div.active::after{
    transform: translateY(-50%) rotate(225deg);
}
#popup #pop .select-box .selected-option div .iconify{
    border-radius: 5px;
    margin-right: 5px;
}
#popup #pop .select-box .selected-option div strong{
    font-size: 16px;
    font-weight: lighter;
}
#popup #pop .select-box .options{
    position: absolute;
    width: 60%;
    background-color: #fff;
    border-radius: .5rem;
    display: none;
}
#popup #pop .select-box .options.active{
    display: block;
}
#popup #pop .select-box .options ol{
    list-style: none;
    max-height: 180px;
    overflow: scroll;
}
#popup #pop .select-box .options ol li{
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
#popup #pop .select-box .options ol li:hover{
    background-color: #cccccc;
}
#popup #pop .select-box .options ol li .country-name{
    margin-left: .4rem;
    overflow: auto;
}
#popup #pop .otp button{
    cursor: pointer;
    width: 100%;
    line-height: 45px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background: border-box #ef4f5f;
    border-width: 0px;
    border-radius: 8px;
    outline: none;
}
#popup #pop .otp button:hover{
    background-color: #e03546;
}
#popup #pop .or{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
#popup #pop .or p{
    font-size: 18px;
    color: #ccc;
}
#popup #pop .or h6{
    font-size: 18px;
    color: #928d8d;
    font-weight: lighter;
    margin-top: 11px;
    margin-left: 5px;
    margin-right: 5px;
}
#popup #pop .easy-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: #ddd8d8 2px solid;
}
#popup #pop .easy-login .click-login{
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    width: 100%;
    height: 46px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 8px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    user-select: none;
}
#popup #pop .easy-login .click-login i{
    color:#ef4f5f ;
    font-size: 24px;
}
#popup #pop .easy-login .click-login h6{
    color: #696969;
    font-size: 19px;
    font-weight: 400;
    padding-left: 10px;
}
#popup #pop .create-account{
    padding-top: 30px;
    padding-bottom: 10px;
}
#popup #pop .create-account h6{
    font-size: 19px;
    color: #6d6868;
    font-weight: lighter;
}
#popup #pop .create-account h6 span{
    color: #ef4f5f;
    cursor: pointer;
}
/*........................... sign up popup.................. */
#signPop{
    width:100%;
    height:100vh;
    background: #3c5077;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#signPop #btn{
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
    margin-bottom: 20px;
}
#signPop #signup{
    width: 460px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: max-content;
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
    z-index: 1;
    padding: 20px;
    display: none;
}
#signPop #signup .sign-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
    padding-bottom: 30px;
}
#signPop #signup .sign-head h1{
    font-size: 2rem;
    font-weight: 500;
    color: rgb(79, 79, 79);
    padding: 10px;
}
#signPop #signup .sign-head svg{
    cursor: pointer;
}
#signPop #signup .name{
    display: block;
}
#signPop #signup .name form{
    display: flex;
    flex-direction: column;
}
#signPop #signup .name form input{
    width: 100%;
    height: 47px;
    border: #cccccc 1px solid;
    border-radius: 5px;
    outline: none;
    margin-bottom: 25px;
    padding-left: 15px;
}
#signPop #signup .name form input::placeholder{
    font-size: 19px;
    color: #cccccc;
    font-weight: 300;
}
/* #signPop #signup .name form fieldset{
    width: 100%;
    height:50px;
    border:#cccccc 1px solid;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    margin-bottom: 25px;
}
#signPop #signup .name form fieldset legend{
    float: left;
    font-size: 19px;
    color:#cccccc;
} */
#signPop #signup .name form div.checkbox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#signPop #signup .name form div.checkbox input{
    border: #cccccc 2px solid;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
#signPop #signup .name form div.checkbox:hover input ~ .checkmark{
    border-color: #e03546;
}
#signPop #signup .name form div.checkbox label{
    font-size: 14px;
    font-weight: 500;
    color: #696969;
    letter-spacing: 0.5px;
}
#signPop #signup .name form div.checkbox label span{
    color: #ef4f5f;
}
#signPop #signup .name button.create{
    width: 100%;
    height: 47px;
    background-color: #cccccc;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}
#signPop #signup .name .or{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}
#signPop #signup .name .or p{
    font-size: 18px;
    color: #ccc;
}
#signPop #signup .name .or h6{
    font-size: 18.5px;
    color: #524f4f;
    font-weight: lighter;
    margin-top: 11px;
    margin-left: 5px;
    margin-right: 5px;
}
#signPop #signup .name button.click-login{
    width: 100%;
    height: 47px;
    border-radius: 5px;
    background-color: #ffffff;
    border: #ccc 1px solid;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    cursor: pointer;
}
#signPop #signup .name button.click-login svg{
    margin: 5px;
}
#signPop #signup .name button.click-login h6{
    color: #cccccc;
    font-size: 19px;
    font-weight: 300;
}
#signPop #signup .name .exist-account{
    margin-top: 25px;
    display: flex;
    align-items: center;
} 
#signPop #signup .name .exist-account h6{
    color: #928d8d;
    font-size: 19px;
    font-weight: 300;
}
#signPop #signup .name .exist-account h6 span{
    color: #ef4f5f;
    cursor: pointer;
}

/* ............................country-flag and language section ............................ */

.jPUyxY {
    display: flex;
}
.gJYvaX {
    max-width: 100%;
}
.gAhmYY {
    width: max-content;
}
.ceanFw {
    min-width: 10rem;
    width: max-content;
    max-width: 100%;
    cursor: pointer;
    position: relative;
    padding: 0.3rem 0.7rem;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 0.6rem;
}
.jzrEzn {
    display: none;
}
.erXsJY {
    display: none;
    position: absolute;
    top: -1.7rem;
    left: 3.1rem;
    width: 2.1rem;
    height: 2.3rem;
    transform: rotate(45deg);
    border-radius: 2.2rem 0px 0.4rem;
    background: rgb(255, 255, 255);
    z-index: 11;
}
.iJgvsV {
    position: absolute;
    opacity: 0;
    bottom: 4rem;
    left: -499.594px;
    width: 0px;
    visibility: hidden;
    height: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0.1rem 4rem 4rem;
    border-radius: 0.6rem;
    padding: 0px;
    cursor: default;
    transform-origin: 0px 100%;
    transition-property: opacity, padding;
    will-change: opacity, padding;
    transition-duration: 0.25s;
    z-index: 10;
}
.iYiNyG {
    display: none;
}
.fIuLDK {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.gzEnoW {
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 25%;
    padding: 0px 3.75px 5px 0px;
}
.fYFzFe {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    width: 96%;
    padding: 1%;
    background: rgb(237, 244, 255);
}