*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items:center ;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
}
.inputBox{
    position: relative;
    width: 500px;
}
.inputBox input{
    padding: 10px;
    transition: 0.5s;
    width: 95%;
    height: 47px;
    border: #cccccc 1px solid;
    border-radius: 5px;
    outline: none;
    margin-bottom: 25px;
    padding-left: 15px;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding:10px;
    /* pointer-events: none; */
    font-size: 19px;
    color: #cccccc;
    font-weight: 300;
    transition: 0.5s;
}
.inputBox input:valid ~span,
.inputBox input:focus ~span{
    color: #5f9ea0 ;
    transform: translateX(10px) translateY(-5px);
    font-size: 0.65em;
    padding: 0 10px;
    background: white;
}
.inputBox input:valid ,
.inputBox input:focus{
    border:1px solid #5f9ea0 ;
}